uploads/*
ice1/*
pdo.php
student_work/*
student_pics/*
google-api-php-client/*
Backups/*
Video/*
plyr-master/*
student_exam_work/*
drawing_tool_images/*
documentation/*
node_modules
vendor/*
crypto-js-4.0.0/*
Delete me/*
Deleteme/*
drawingtool/*
tinyMCE/*




